.font-24{
    @apply text-sm sm:text-[18px] 2xl:text-2xl font-bold
}


.owl-carousel .owl-stage{
    @apply flex items-center
}


/* .roadmap-section{
    width: 100%;
    padding: 150px 120px 0px 120px;
    position: relative;
  
  }
   */
  .roadmap-button{
    text-align: -webkit-center;
    z-index: 20;
  }
  
  

  
  .roadmap-progress{
    color: #FEFEFE;
    /* font-size: 24px; */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
    margin-right: 20px;
  }

  .roadmap-progress-bar{
    @apply h-[1255px] sm:h-[1330px] md:h-[1196px] min-[900px]:h-[944px] min-[1100px]:h-[830px] min-[1280px]:h-[790px] min-[1400px]:h-[740px];
    position: relative;
    width: 2px;
    flex-shrink: 0;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.15);
    z-index: 10;
  }
  .roadmap-dark-bullet{
    margin-left: -20px !important ;
  }
  
  .roadmap-phase{
    display: flex;
    padding: 32px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 32px;
    background: #0D0D0D;
    margin-bottom: 48px;
    border: 2px solid #0D0D0D;
  }
  
  
  .roadmap-phase:hover {
    border-radius: 32px;
    background: linear-gradient(#0D0D0D, #0D0D0D) padding-box, linear-gradient(160deg, #38A1E2 0%, #0D0D0D 23%) border-box;
    border: 2px solid transparent;
  }
  
  
  
  .roadmap-title{
    color: #FEFEFE;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
  }
  

  .roadmap-phase-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .roadmap-li span{
    color: #FEFEFE;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    opacity: 0.7;
  }
  
  .roadmap-subsection-right button {
    margin-left: -110px;
  }
  .roadmap-subsection-right{
    z-index: 20;
  }
  .roadmap-progress-fill {
    @apply bg-primary absolute h-full w-0.5 top-0 left-0 rounded-[5px];
    transition: height 0.2s ease-out;
    z-index: -1;
  }


  