@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 248.48deg 100% 62.55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0deg 0% 87.45%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
  }
}
@layer base {
  @font-face {
    font-family: "ClashDisplay-Regular";
    src: url("./fonts/ClashDisplay-Regular.woff2") format("woff2"),
      url("./fonts/ClashDisplay-Regular.woff") format("woff"),
      url("./fonts/ClashDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "ClashDisplay-Medium";
    src: url("./fonts/ClashDisplay-Medium.woff2") format("woff2"),
      url("./fonts/ClashDisplay-Medium.woff") format("woff"),
      url("./fonts/ClashDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "ClashDisplay-Semibold";
    src: url("./fonts/ClashDisplay-Semibold.woff2") format("woff2"),
      url("./fonts/ClashDisplay-Semibold.woff") format("woff"),
      url("./fonts/ClashDisplay-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "ClashDisplay-Bold";
    src: url("./fonts/ClashDisplay-Bold.woff2") format("woff2"),
      url("./fonts/ClashDisplay-Bold.woff") format("woff"),
      url("./fonts/ClashDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.font-rubik {
  font-family: "Rubik", system-ui;
}
.font-clashDisplay-regular {
  font-family: "ClashDisplay-Regular";
}
.font-clashDisplay-bold {
  font-family: "ClashDisplay-Bold";
}
.font-satoshi {
  font-family: "Satoshi", sans-serif;
}
p {
  @apply text-base;
  font-family: "Satoshi", sans-serif;
}
.btn-shadow {
  box-shadow: 0px 0px 12.78px 0px #3177ff80 inset;
  box-shadow: 0px 0px 127.79px 0px #3177ff80;
  box-shadow: 0px 0px 33.01px 0px #3177ffb2;
  backdrop-filter: blur(0.9431301951408386px);
}
